@model APBD_21._05.Model.Patient

<h3 class="center-align">Rejestracja nowego pacjenta</h3>

    <form class="col s3" method="post" action="/Patients/RegisterPatient">
        <div class="row">
            <div class="form-group col s4 m6">
                <label>First Name</label>
                @Html.EditorFor(p => p.FirstName)
                <span>@Html.ValidationMessageFor(p => p.FirstName)</span>
            </div>
            <div class="form-group col s4 m6">
                <label>Last Name</label>
                @Html.EditorFor(p => p.LastName)
                <span>@Html.ValidationMessageFor(p => p.LastName)</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col s8 m12">
                <label>Date of birth</label>
                @Html.EditorFor(p => p.Birthdate)
                <span>@Html.ValidationMessageFor(p => p.Birthdate)</span>
            </div>
        </div>
        <input type="submit" class="btn" value="Dodaj pacjenta">
    </form>